<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Define the custom configuration sections... -->
  <configSections>
    <section name="ADUserAttributes" type="System.Configuration.NameValueSectionHandler,System,Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <appSettings>
    <add key="Log.LogToConsole" value="0" />
    <add key="Log.LogToDebug" value="0" />
    <add key="Log.LogToCdf" value="1" />
    <add key="Log.LogToFile" value="0" />
    <add key="Log.FileName" value="" />
    <add key="Log.FileOverwrite" value="0" />
    <add key="Log.IncludeLocation" value="1" />
    <add key="Service.AutoDiscoveryAddresses" value="localhost" />
    <add key="Service.UserSettingsPath" value="..\UserData" />
    <add key="Connector.CentralConfiguration.AddressFormat" value="http://{0}/Citrix/ConfigurationContract/v2" />
    <add key="Connector.ActiveDirectory.UseSsl" value="0" />
    <add key="Connector.ActiveDirectory.Domains" value="(user),(server)" />
    <add key="Connector.WinRM.Identity" value="User" />
    <add key="Connector.WinRM.SessionStartMargin" value="5" />
    <add key="Connector.WinRM.Ports" value="5985,80" />
    <add key="Connector.WinRM.Timeout" value="6000" />
    <add key="Connector.XA.AddressFormat" value="net.tcp://{0}:{1}/Citrix/XenAppCommands" />
    <add key="Connector.XA.WCFPort" value="2513" />
    <add key="Connector.Licensing.AddressFormat" value="{0}/sls_unauth/services/sls" />
    <add key="UI.GlobalSearchMaxResults" value="20" />
    <add key="UI.GlobalMachineSearchMaxResults" value="20" />
    <add key="UI.DistributionDataMaxResults" value="5" />
    <add key="UI.EnableRemoteAssistance" value="1" />
    <add key="UI.TaskManager.EnableApplications" value="true" />
    <add key="UI.EnableEndpointSearch" value="true" />
    <add key="UI.EnableSslCheck" value="true" />
    <add key="UI.HighVDiskUsageThreshold" value="90" />
    <add key="UI.HighRDSLoadIndexThreshold" value="90" />
    <add key="UI.HighProfileUsageThreshold" value="90" />
    <add key="UI.HighRedirectedFolderUsageThreshold" value="90" />
    <add key="UI.TrendsLast2HoursRange" value="3" />
    <add key="UI.ResourceUtilizationTrendsLast2HoursRange" value="7" />
    <add key="UI.TrendsLast24HoursRange" value="32" />
    <add key="UI.TrendsLast7DaysRange" value="32" />
    <add key="UI.TrendsLastMonthRange" value="90" />
    <add key="UI.ApplicationFailuresTrendsLastMonthRange" value="31" />
    <add key="UI.UserSearchQueryDelay" value="500" />
  </appSettings>


  <ADUserAttributes>
    <add key="streetAddress" value="ADUserAttrAddress$"/>
    <add key="l" value="ADUserAttrAddressCity$" />
    <add key="st" value="ADUserAttrAddressState$" />
    <add key="co" value="ADUserAttrAddressCountry$" />
    <add key="homephone" value="ADUserAttrHomePhone$"/>
    <add key="mobile" value="ADUserAttrMobile$"/>
  </ADUserAttributes>

  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />
      <remove name="UrlAuthorization" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
      <remove name="DefaultAuthentication" />
      <add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule" />
      <add name="DmcHttpModule" type="Citrix.Dmc.WebUI.DmcHttpModule" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="default.html StaticFileHandler" path="default.html" verb="GET" type="System.Web.StaticFileHandler" requireAccess="Read" resourceType="File" preCondition="integratedMode" />
    </handlers>
    
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <staticContent>
      <clientCache cacheControlMode="NoControl" />
    </staticContent>
    <httpRedirect enabled="false" />
	
	<directoryBrowse enabled="false" showFlags="Date, Time, Size, Extension" />

    <httpErrors errorMode="Custom">
      <remove statusCode="500"/>
      <error statusCode="500"  responseMode="ExecuteURL" path="/Director/ErrorMessage.aspx" />
    </httpErrors>

    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    
  </system.webServer>
 
  <location path="dmc">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  
  <location path="State">
      <system.web>
          <authorization>
				<deny users="*"/>
          </authorization>
      </system.web>
  </location>

  <location path="config">
      <system.web>
          <authorization>
				<deny users="*"/>
          </authorization>
      </system.web>
  </location>

  <location path="DisplayConfig">
      <system.web>
          <authorization>
				<deny users="*"/>
          </authorization>
      </system.web>
  </location>

  <location path="UserData">
      <system.web>
          <authorization>
				<deny users="*"/>
          </authorization>
      </system.web>
 </location>
 
    <location path="plugin/hdxinsight">
      <system.web>
          <authorization>
				<deny users="*" />
          </authorization>
      </system.web>
 </location>
 
  <location path="dmc/dmc.nocache.js" >
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
    <system.web>
      <authorization>
        <allow users="*"  />
      </authorization>
    </system.web>
  </location>

  <location path="dmc/blank.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="NoControl" />
      </staticContent>
    </system.webServer>
  </location>

  <location path="dmc/clear.gif">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="NoControl" />
      </staticContent>
    </system.webServer>
  </location>


  <location path="dmc/hosted.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="NoControl" />
      </staticContent>
    </system.webServer>
  </location>

 
  <location path="dmc/gwt">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="NoControl" />
      </staticContent>
    </system.webServer>
  </location>

  <location path="LogOff.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="default.html" allowOverride="false">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>

  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"  />
      </authorization>
    </system.web>
  </location>

  <!-- Disable Forms Authentication for this URL -->
  <location path="LogOn">
    <system.webServer>
        <security>
          <!-- Enable IIS Windows authentication for the login page -->
          <authentication>
            <windowsAuthentication enabled="true" />
            <anonymousAuthentication enabled="false" />
        </authentication>
      </security>
    </system.webServer>
  </location>

  <location path="ErrorMessage.aspx">
    <system.web>
      <authorization>
        <allow users="*"  />
      </authorization>
    </system.web>
  </location>

  <system.web>
    <!-- configuration for form authentication -->
    <authentication mode="Forms">
      <forms
  protection="All"
  timeout="245"
  name="DESKTOPDIRECTORAUTH"
  path="/"
  requireSSL="false"
  cookieless="UseCookies"
  slidingExpiration="true"
  defaultUrl="default.html"
  loginUrl="LogOn.aspx">
			<credentials passwordFormat="SHA1"/>
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <!-- Setting asp.net execution timeout to 170 seconds from default value 110 seconds -->
    <httpRuntime executionTimeout="170" requestValidationMode="4.5" />

    <sessionState
      mode="Custom"
      cookieless="UseCookies"
      regenerateExpiredSessionId="true"
      timeout="245"
      cookieName="DESKTOPDIRECTORSESSION"
      customProvider="Citrix.Dmc.WebService.CustomSessionStateProvider">
      <providers>
        <add name="Citrix.Dmc.WebService.CustomSessionStateProvider" type="Citrix.Dmc.WebService.CustomSessionStateProvider" />
      </providers>
    </sessionState>
    
    <compilation batch="false" debug="false"/>
    <customErrors defaultRedirect="ErrorMessage.aspx"  mode="On" />
  </system.web>
    
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
       
    <services>
      <service name="Citrix.Dmc.WebService.ConsoleService" behaviorConfiguration="GenericServiceBehavior">
                    
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        
        <!-- wsHttp binding for XD controller services -->
        <binding name="Default_WsHttpBinding" maxReceivedMessageSize="9000000" openTimeout="00:00:10" sendTimeout="00:00:20" closeTimeout="00:00:20">
          <readerQuotas maxArrayLength="1000000" maxStringContentLength="2000000" />
        </binding>

      </wsHttpBinding>

      <netTcpBinding>

        <!-- netTcp binding for Xen App services -->
        <binding name="Default_NetTcpBinding" maxReceivedMessageSize="9000000" openTimeout="00:00:10" sendTimeout="00:00:20" closeTimeout="00:00:20">
          <readerQuotas maxArrayLength="1000000" maxStringContentLength="2000000" />
          <reliableSession enabled="true"/>
        </binding>

      </netTcpBinding>

      <customBinding>
        <binding name="SLSUnauthServiceBinding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
        <binding name="WSLUnauthServiceBinding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" requireClientCertificate="false" />
        </binding>
      </customBinding>
      
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="GenericServiceBehavior">
          <serviceThrottling
            maxConcurrentSessions="200"
            maxConcurrentCalls="32" />
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
     
    </behaviors>
    <client>
      
      <!-- Broker wsHttp end point -->
      <endpoint  binding="wsHttpBinding" bindingConfiguration="Default_WsHttpBinding"
          contract="Citrix.Dmc.Connector.Broker.Wcf.IBrokerAdminService" name="WsHttpBindingBroker" />

      <!-- Hosting Unit Service wsHttp end point -->
      <endpoint  binding="wsHttpBinding" bindingConfiguration="Default_WsHttpBinding"
          contract="Citrix.Dmc.Connector.HostingUnitService.Wcf.ISdkHostingUnitService" name="WsHttpBindingHostingUnitService" />

      <!-- AD Identity Service wsHttp end point -->
      <endpoint  binding="wsHttpBinding" bindingConfiguration="Default_WsHttpBinding"
          contract="Citrix.AdIdentity.Sdk.ISdkADIdentityService" name="WsHttpBindingADIdentityService" />
      
      <!-- Machine Creation Service wsHttp end point -->
      <endpoint  binding="wsHttpBinding" bindingConfiguration="Default_WsHttpBinding"
          contract="Citrix.MachineCreation.Sdk.IMachineCreationService" name="WsHttpBindingMachineCreationService" />
      
      <!-- central config service -->
      <endpoint  binding="wsHttpBinding" bindingConfiguration="Default_WsHttpBinding"
     contract="Citrix.Dmc.Connector.CentralConfiguration.Wcf.IConfigurationContract" name="WsHttpBindingConfigurationService" />

      <!-- Web server for licensing service -->
      <endpoint binding="customBinding" bindingConfiguration="SLSUnauthServiceBinding"
                contract="Citrix.Dmc.Connector.Licensing.Wcf.ISLSUnauthService" name="SoapBindingSLSService" />

      <endpoint binding="customBinding" bindingConfiguration="WSLUnauthServiceBinding"
                contract="Citrix.Dmc.Connector.Licensing.Wcf.IWSLUnauthService" name="SoapBindingWSLService" />
      
      <!-- delegated administration service -->
      <endpoint  binding="wsHttpBinding" bindingConfiguration="Default_WsHttpBinding"
     contract="Citrix.Dmc.Connector.DA.Wcf.IDelegatedAdminContract" name="WsHttpBindingDASService" />

      <!-- configuration logging service -->
      <endpoint  binding="wsHttpBinding" bindingConfiguration="Default_WsHttpBinding"
     contract="Citrix.Dmc.Connector.ConfigLogging.Wcf.IConfigurationLoggingService" name="WsHttpBindingConfigLoggingService" />

      <!-- Monitoring service -->
      <endpoint  binding="wsHttpBinding" bindingConfiguration="Default_WsHttpBinding"
     contract="Citrix.Dmc.Connector.MonitoringService.Wcf.IMonitor" name="WsHttpBindingMonitoringService" />

      <!-- XA end point -->
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
                contract="IAccountTasks" name="NetTcpBindingAccountTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="IAdministratorTasks" name="NetTcpBindingAdminTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="IAppTasks" name="NetTcpBindingAppTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="IConfigLogTasks" name="NetTcpBindingConfigLogTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="IFarmTasks" name="NetTcpBindingFarmTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="IFileTypeTasks" name="NetTcpBindingFileTypeTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="IFolderTasks" name="NetTcpBindingFolderTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="ILoadEvaluatorTasks" name="NetTcpBindingLoadEvaluatorTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="IPolicyTasks" name="NetTcpBindingPolicyTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="IPrinterTasks" name="NetTcpBindingPrinterTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="IServerTasks" name="NetTcpBindingServerTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="ISessionTasks" name="NetTcpBindingSessionTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="IStreamingTasks" name="NetTcpBindingStreamingTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="IWorkerGroupTasks" name="NetTcpBindingWorkerGroupTasks" />
      <endpoint binding="netTcpBinding" bindingConfiguration="Default_NetTcpBinding"
          contract="IZoneTasks" name="NetTcpBindingZoneTasks" />
    </client>
    
	</system.serviceModel>

    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="bin;plugin"/>
        <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="8.0.0.0" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>

</configuration>
